@{
    ViewData["Title"] = "401 - Authorization Required";
}

<div style="text-align:center; padding:40px;">
    <h1 style="color:#d9534f;">401 - Authorization Required</h1>
    <p>You must be logged in to access this page.</p>

    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Go to Login</a>
</div>
