@{
    ViewData["Title"] = "403 - Forbidden";
}

<div style="text-align:center; padding:40px;">
    <h1 style="color:#f0ad4e;">403 - Forbidden</h1>
    <p>You do not have permission to view this page.</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go to Home</a>
</div>
